* {
    margin: 0;
    text-align: center;
    padding: 0;
}
/*------------------small devices-----------------*/
@media only screen and (max-width: 767px) {
    body {
        background-image: url("https://cdn.shopify.com/s/files/1/0500/6165/products/ashersamp_15309954-5c04-4acb-a1cd-807a175a77e4_600x.jpeg?v=1571438779");
        background-size: cover;
    }
    #page__wrapper{
        display: grid;
        grid-template-rows: 25vh 30vh 22vh 10vh 13vh;
        grid-template-columns: 1fr ;
        gap: 12px;
        grid-template-areas: "head"
                             "image"
                              "main"
                              "nav" 
                              "side";
                              
                            

    }
    #head {
    grid-area: head;
    }
   #Tech {
       background-size: contain;
       width: 100vw;
       height:25vh;
   }
    #img_container {
    grid-area: image;
    }
    #Girl{
     border-radius: 50%;
     width :20vw;
     height: 30vh;
    }
    #main_nav {
    grid-area: nav;

    }
    #main_nav li {
        list-style: none;
        display: inline;
    }
    #main_container {
    grid-area: main;

    }
    #Main-Text {
        color: rgb(134, 32, 83);
        font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    #right_side {
        grid-area: side;
        
    }
    #side-Text {
        color: rgb(88, 43, 69);
        font-size: 1rem;
        font-style: italic;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

     }
   
   


}
/*------------------tablet devices----------------*/
@media only screen and (min-width: 768px) {
    body {
        background-image: url("https://cdn.shopify.com/s/files/1/0500/6165/products/ashersamp_15309954-5c04-4acb-a1cd-807a175a77e4_600x.jpeg?v=1571438779");
        width: 100%;
        height: 100vh;
    }
    #page__wrapper{
        display: grid;
        grid-template-rows: 28vh 10vh 32vh 15vh 15vh;
        grid-template-columns: 1fr  1fr ;
        gap: 0;
        grid-template-areas: "head image"
                             "head  image"
                              "head  main"
                              "head  nav" 
                              " side side";
                              
                            

    }
    #head {
    grid-area: head;
    }
   #Tech {
       background-size: contain;
       width: 100%;
       height : 85vh;
       border-radius: 8px;
   }
    #img_container {
    grid-area: image;
    }
    #Girl{
     border-radius: 50%;
     width :15vw;
     height: 30vh;
    }
    #main_nav {
    grid-area: nav;
    
    }
    #main_nav li {
        list-style: none;
        display: inline;
    }
    #main_container {
    grid-area: main;

    }
    #Main-Text {
        color: rgb(134, 32, 83);
        font-size: 1.2rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #right_side {
        grid-area: side;
        
        
    }
    #side-Text {
        color: rgb(88, 43, 69);
        font-size: 1.6rem;
        margin: 35px 0px 0px 0px;
        font-style: italic;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    
   

}
   

/*------------------pc devices--------------------*/
@media only screen and (min-width: 1000px) {
    body {
        background-image: url("https://cdn.shopify.com/s/files/1/0500/6165/products/ashersamp_15309954-5c04-4acb-a1cd-807a175a77e4_600x.jpeg?v=1571438779");
        width: 100%;
        height: 100vh;
    }
    #page__wrapper{
        display: grid;
        grid-template-rows: 28vh 10vh 32vh 15vh 15vh;
        grid-template-columns: 1fr  1fr ;
        gap: 0;
        grid-template-areas: "head image"
                             "head  image"
                              "head  main"
                              "head  nav" 
                              " side side";
                              
                            

    }
    #head {
    grid-area: head;
    }
   #Tech {
       background-size: contain;
       width: 100%;
       height : 85vh;
       border-radius: 8px;
   }
    #img_container {
    grid-area: image;
    }
    #Girl{
     border-radius: 50%;
     width :15vw;
     height: 30vh;
    }
    #main_nav {
    grid-area: nav;
    
    }
    #main_nav li {
        list-style: none;
        display: inline;
    }
    #main_container {
    grid-area: main;

    }
    #Main-Text {
        color: rgb(134, 32, 83);
        font-size: 1.2rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #right_side {
        grid-area: side;
        
        
    }
    #side-Text {
        color: rgb(88, 43, 69);
        font-size: 1.6rem;
        margin: 35px 0px 0px 0px;
        font-style: italic;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    
}
